body{
background-image: url(https://media.timeout.com/images/102512211/image.jpg);
background-size:100%;
}
#count_orders{
color:grey;
font-family: monospace;
font-size:20px;
position:absolute;
top:250px;
left:500px
}
#text{
position:absolute;
font-style:initial;
font-size:20px;
color:grey;
top:200px;
left:300px
}
#login_button{
position:absolute;
top:300px;
left:600px
}
#signup_button{
position:absolute;
top:400px;
left:600px
}