<!DOCTYPE html>
{% load static %}
<html >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


  <link rel="stylesheet" href="{% static 'css/Login.css' %}">


</head>

<body>
<img src = "https://cenador.ru/images/header-slider-img-3-1366x555.jpg" width = 800 height = 400 class = Restaurant_stuff_image alt = "" />
<form method="post" class = form>
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>


</body>
</html>