<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load bootstrap4%}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <title>Admin panel</title>
</head>
<body>
<div class = "row">
    <div class = "col">
        <div class = "card" style="font-size: 120%;margin-left:100px">
            <div class = "card-body" style = "background:#00a3e2">
                 <h3>Add user</h3>
                 <form method = 'post'>
                     {%csrf_token%}
                     {{user_form.as_p }}
                     <button type = "submit" name = "add_user_button">Add user!</button>
                 </form>
            </div>
        </div>
    </div>
    <div class = "col">
        <div class = "card" style="font-size: 120%">
            <div class = "card-body" style = "background:#ffa700">
                <h3>Add dish</h3>
                <form method = 'post'>
                    {%csrf_token%}
                    {{dish_form.as_p}}
                    <button type = "submit" name = "add_dish_button">Add dish!</button>
                </form>
                <h3>Add dish group</h3>
                <form method = 'post'>
                    {%csrf_token%}
                    {{dish_group_form.as_p}}
                    <button type = "submit" name = "add_dish_group_button">Add dish!</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>