<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cook</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
<h1>All orders</h1>
{%for key,value in orders.items%}
<h4>{{key}}</h4>
<ol>
{%for item in value%}
    <li>
        <div>Order {{item.id}}:</div>
        {% for binding in item.bindings %}
            <div id="{{binding.id}}" class="dish" >
                <input  type="checkbox">{{binding.dish}}
            </div>
        {%endfor%}
    </li>
{%endfor%}
</ol>
{%endfor%}
<script>
$(".dish").click(function() {
    let element = $(this);
      $.ajax({
      type: 'POST',
      url: '{% url 'cook' %}',
      data: { csrfmiddlewaretoken: '{{ csrf_token }}',
              binding: element.attr('id')
            },
      success: function(data){
        if (data == "Delete dish") {
            element.hide("slow");
        }if(data == "Delete order"){
            element.parent().hide("slow");
        }
      }
    });
})


</script>
</body>
</html>