<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Restaurant service</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="static/home_assets/images/logo/favicon.jpg"  width = 50 height = 50 type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'home_assets/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'home_assets/css/bootstrap-4.1.3.min.css' %}">
    <link rel="stylesheet" href="{% static 'home_assets/css/style.css' %}">
</head>
<body>
<!--     Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
	<header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <a href="login/"><img src="static/home_assets/images/logo/logo.jpg" width = 120 height = 120 alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="main-menu">
                        <ul>
                            <li><a href="signup/">Do not have an account? Sign up!</a></li>
                            <li class="active"><a href="login/">Log in</a></li>
                            <li><a href="accounts/waiter">Waiter panel</a></li>
                            <li><a href="accounts/cook">Cook panel</a>
                            <li><a href="accounts/admin">Admin panel</a>
                            </li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Banner Area Starts -->
    <section class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6>The best restaurant service</h6>
                    <h1> Let your restaurant stuff <span class="prime-color">use</span><br>
                    <span class="style-change">modern <span class="prime-color">technologies</span> today!</span></h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Testimonial Area Starts -->
<!--<section class="testimonial-area section-padding4">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--                <div class="section-top2 text-center">-->
<!--                    <h3>Customer <span>says</span></h3>-->
<!--                    <p><i>Beast kind form divide night above let moveth bearing darkness.</i></p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--                <div class="testimonial-slider owl-carousel">-->
<!--                    <div class="single-slide d-sm-flex">-->
<!--                        <div class="customer-img mr-4 mb-4 mb-sm-0">-->
<!--                            <img src="static/css/home_css/images/customer1.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="customer-text">-->
<!--                            <h5>adame nesane</h5>-->
<!--                            <span><i>Chief Customer</i></span>-->
<!--                            <p class="pt-3">You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-slide d-sm-flex">-->
<!--                        <div class="customer-img mr-4 mb-4 mb-sm-0">-->
<!--                            <img src="static/css/home_css/images/customer2.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="customer-text">-->
<!--                            <h5>adam nahan</h5>-->
<!--                            <span><i>Chief Customer</i></span>-->
<!--                            <p class="pt-3">You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-slide d-sm-flex">-->
<!--                        <div class="customer-img mr-4 mb-4 mb-sm-0">-->
<!--                            <img src="static/css/home_css/images/customer1.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="customer-text">-->
<!--                            <h5>adame nesane</h5>-->
<!--                            <span><i>Chief Customer</i></span>-->
<!--                            <p class="pt-3">You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
    <!-- Testimonial Area End -->

    <!-- Footer Area Starts -->
    <footer class="footer-area">
        <div class="footer-widget section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="single-widget single-widget1">
                            <a href="login/"><img src="static/home_assets/images/logo/logo2.jpg"  alt=""></a>
                            <p class="mt-3">Which morning fourth great won't is to fly bearing man. Called unto shall seed, deep, herb set seed land divide after over first creeping. First creature set upon stars deep male gathered said she'd an image spirit our</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-widget single-widget2 my-5 my-md-0">
                            <h5 class="mb-4">contact us</h5>
                            <div class="d-flex">
                                <div class="into-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="info-text">
                                    <p>1234 Some St San Francisco, CA 94102, US 1.800.123.4567 </p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="into-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="info-text">
                                    <p>(123) 456 78 90</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="into-icon">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                                <div class="info-text">
                                    <p>support@axiomthemes.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-widget single-widget3">
                            <h5 class="mb-4">opening hours</h5>
                            <p>Monday ...................... Closed</p>
                            <p>Tue-Fri .............. 10 am - 12 pm</p>
                            <p>Sat-Sun ............... 8 am - 11 pm</p>
                            <p>Holidays ............. 10 am - 12 pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->


<!-- Javascript -->
    <script src="{% static 'home_assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'home_assets/js/vendor/bootstrap-4.1.3.min.js' %}"></script>
    <script src="{% static 'home_assets/js/vendor/wow.min.js' %}"></script>
    <script src="{% static 'home_assets/js/main.js' %}"></script>
</body>
</html>
