<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ресторанный сервис</title>
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
</head>
<body>
<div id = "count_orders">С нашей помощью создано уже {{count_orders}} заказов!</div>
<div id = "text" ><p>Наш сервис предоставляет возможность автоматизации действий персонала ресторанов</p></div>
<div id = "login_button">
    <form action="/login">
        <button type="submit"><img src = https://sberbank-ru.ru/wp-content/uploads/2019/07/screenshot_16.jpg width = 150 height = 80 /></button>
    </form>
</div>

<div id = "signup_button">
    <form action="/signup">
        <button type="submit"><img src = http://files.zarabotok-v-internete4116.webnode.ru/200000001-d65abd82b7/374527.jpg width = 150 height = 80 /></button>
    </form>
</body>
</html>