<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
{% block title %}Регистрация ресторана {% endblock %}
{% block content %}
    <form method = 'post'>
        {%csrf_token%}
        {{user_form.as_p }}
        {{rest_form.as_p}}
        <button type = "submit"> Sign up!</button>
    </form>
{%endblock%}