<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{restaurant}}</title>
    {% load bootstrap4%}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/add_order.css' %}">
</head>
<body style = "background:url('https://i.artfile.me/wallpaper/17-09-2007/1920x1200/eda-shashlyk-barbekyu-448563.jpg')">
<div class = "container">
    <h1 style="color:white">All orders</h1>
    <div class = "row">
        {%for key,value in orders.items%}
        <div class="card">
            <div class="card-body">
                <h4>{{key}}</h4>
                    <ol>
                    {%for item in value%}
                        <div class="card">
                          <div class="card-body" style="background:#2ef0e3">
                            <li id="{{item.id}}">
                                <div>Order: {{item.id}}</div>
                                {% if item.payed == 1%}
                                    <input type = "checkbox" class = "pay_status" checked>Paid
                                {%else%}
                                    <input type = "checkbox" class = "pay_status">Paid
                                {%endif%}
                                {% for binding in item.bindings %}
                                    <div>
                                    {%if binding.status == "2"%}
                                        <input  type="checkbox" id="{{binding.id}}" class = "item" checked> {{binding.dish}}
                                    {%elif binding.status == "1"%}
                                        <input  type="checkbox" id="{{binding.id}}" class = "item"> {{binding.dish}}
                                    {%else%}
                                        <input  type="checkbox" id="{{binding.id}}" disabled class = "item"> {{binding.dish}}
                                    {%endif%}
                                    </div>
                                {%endfor%}
                                <div>Sum:{{item.sum}}</div>
                            </li>
                          </div>
                        </div>
                    {%endfor%}
                    </ol>
            </div>
        </div>
        {%endfor%}
    </div>
    <h1 style="color:white">Add order</h1>
    <div class = "row">

        <div class = "col">
            <div class = "text-info"><b> Table:</b></div>
            <select class = "text-info">
                {%for table in tables%}
                <option id = "{{table.id}}"> {{table}} </option>
                {%endfor%}
            </select>
            <div class = "text-info" ><b>Groups of dishes:</b></div>
            <ul class = "list-counter-square">
                {% for group in groups %}
                <li class="group" id="{{ group.id }}">{{ group }}</li>
                {% endfor %}
            </ul>
            <div class = "text-info"><b>Dishes of the group:</b></div>
            <ul class = "list-counter-square" id = "dishes">

            </ul>

            <button id="sendButton" class = "btn btn-success"><img alt = "" src = "https://tengrinews.kz/userdata/news/2019/news_373874/photo_286508.jpg" width = "50" height = "50">
                Добавить заказ:</button>
        </div>


        <div class = "col">
            <div class = "text-info" ><b>List:</b></div>
            <ul id="totalResult" class = "list-counter-circle">

            </ul>
        </div>
    </div>
 </div>
</body>
<script src="{% static 'js/waiter.js' %}"></script>

</html>